body {
  --main-bg-color: #212121;
  --main-font-color: #f0f0f0;
  --main-fz: 0.9em;
  --title-fz: 2.4em;
  --subtitle-fz: 1.7em;
  color: var(--main-font-color);
}

.full_w {
  width: 100%;
}

.full_h {
  height: 100%;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.zIndex {
  z-index: 1;
}

.relative {
  position: relative;
}
