body {
  --main-bg-color: #1f1f1fbf;
  --main-font-color: #d9d9d9;
  --radio-btn-color: #ff5252;
  --main-fz: calc(14px + (18 - 14) * ((100vw - 400px) / (1920 - 400)));
  --mini-fz: calc(10px + (14 - 10) * ((100vw - 400px) / (1920 - 400)));
  --title-fz: calc(30px + (20 - 30) * ((100vw - 400px) / (1920 - 400)));
  --subtitle-fz: calc(22px + (20 - 22) * ((100vw - 400px) / (1920 - 400)));
  --transition-base: all 0.3s;
  --btn-size: calc(35px + (70 - 35) * ((100vw - 400px) / (1920 - 400)));
  --wrapper-padding: calc(10px + (25 - 10) * ((100vw - 400px) / (1920 - 400)));
  color: var(--main-font-color);
}

.full_w {
  width: 100%;
}

.full_h {
  height: 100%;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
  flex-shrink: 1;
}

.a_c {
  align-items: center;
}

.j_c {
  justify-content: center;
}

.j_b {
  justify-content: space-between;
}

.a_b {
  align-items: baseline;
}

.j_a {
  justify-content: space-around;
}

.d_column {
  flex-direction: column;
}

.tac {
  text-align: center;
  font-size: var(--main-font-sz);
  text-transform: uppercase;
  margin: 0 0 0.5em 0;
}

.zIndex {
  z-index: 1;
}

.relative {
  position: relative;
}

.transition {
  transition: var(--transition-base);
}
