body {
  --main-bg-color: #1f1f1fbf;
  --main-font-color: #f0f0f0;
  --main-fz: 0.9em;
  --phone-fz: 0.7em;
  --desktopS-fz: 0.8em;
  --title-fz: 2.4em;
  --subtitle-fz: 1.7em;
  --transition-base: all 0.3s;
  color: var(--main-font-color);
}

.full_w {
  width: 100%;
}

.full_h {
  height: 100%;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.a_c {
  align-items: center;
}

.j_c {
  justify-content: center;
}

.j_b {
  justify-content: space-between;
}

.j_a {
  justify-content: space-around;
}

.d-column {
  flex-direction: column;
}

.zIndex {
  z-index: 1;
}

.relative {
  position: relative;
}

.transition {
  transition: var(--transition-base);
}
