.can-drag-button {
  border: none;
  background: none;
  width: fit-content;
  height: fit-content;
  padding: 0;
  cursor: pointer;
  color: var(--main-font-color);
  font-size: var(--phone-fz);

  & img {
    margin-left: 7px;
  }
}
