.game_bar {
  position: absolute;
  height: 100px;
  background-color: #000000ba;
  border: 1px solid var(--main-font-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}
