{
  "extends": ["react-app", "airbnb", "prettier", "plugin:jsx-a11y/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["jsx-a11y", "prettier"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/media-has-caption": "off"
  },
  "root": true,
  "globals": {
    "GoL": "readonly",
    "__DEV__": "readonly",
    "__ENV__": "readonly",
    "__STAGE__": "readonly",
    "__PROD__": "readonly",
    "__URI__": "readonly"
  }
}
