.color-picker {
}

.color-picker_btn {
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 0.2em;
  background: var(--main-bg-color);
  border: 1px solid #fff;

  &:hover {
    box-shadow: 0 0 10px var(--main-bg-color);
  }
}

.color-picker_wrap {
  overflow: hidden;
  top: 50%;
  background: #e8e8e8d6;

  @media (--desktopS) {
    border-radius: 3px;
    padding: 5px;
  }
}
