.btn_interface {
  border: 1px solid var(--main-font-color);
  height: var(--btn-size);
  width: var(--btn-size);
  background: none;
  border-radius: 0.2em;

  &:hover {
    box-shadow: 0 0px 10px var(--main-font-color);
  }
}

.grid_game {
  position: relative;
  will-change: transform;
  width: fit-content;
  height: fit-content;
  margin: auto auto;
}

.game_wrapper {
  position: relative;
}

.fullscreen-btn {
  position: absolute;
  bottom: 8px;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;

  & svg {
    stroke: var(--main-font-color);
    stroke-width: 3px;
  }

  @media (--desktopS) {
    bottom: 4px;
    display: flex;
    align-items: center;
  }
}
