.btn_interface {
  border: 1px solid var(--main-font-color);
  height: 70px;
  width: 70px;
  background: none;
  border-radius: 0.2em;

  &:hover {
    box-shadow: 0 0px 10px var(--main-font-color);
  }
}

.grid_game {
  position: relative;
  will-change: transform;
  width: fit-content;
  height: fit-content;
  margin: auto auto;
}

.game_wrapper {
  position: relative;
}
