.btn_interface {
  border: 1px solid var(--main-font-color);
  height: 70px;
  width: 70px;
  background: none;
  border-radius: 0.2em;

  &:hover {
    box-shadow: 0 0px 10px var(--main-font-color);
  }
}

.grid_game {
  position: relative;
  overflow: auto;
  will-change: transform;

  &::-webkit-scrollbar {
    display: none;
  }
}

.game_wrapper {
  position: relative;
  padding: 15px;
  overflow: hidden;
}
