.config_bar {
  padding: 10px;
  width: calc(100% / 3);
  border-right: 1px solid var(--main-font-color);

  @media (--desktopS) {
    width: 100%;
    padding: 0 5px;
  }
}

.config_bar_title {
  height: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;

  & svg {
    width: 30px;
    height: 16px;
    cursor: pointer;
  }

  @media (--desktopS) {
    height: 40px;
  }
}

.config_bar_radio_list {
  height: 62%;
  width: 100%;

  @media (--desktopS) {
    height: 100%;
    width: 70%;
  }
}

.config_bar_descr {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  z-index: 20;
  background: #575757;
  padding: 3px 7px;
  border-radius: 4px;
  text-transform: none;
  letter-spacing: 0.1px;
  font-size: var(--mini-fz);

  @media (--desktopS) {
    top: 50%;
    transform: translate(100%, -50%);
    width: 300%;
  }
}
