.config_bar {
  padding: 10px;
  width: calc(100% / 3);
  border-right: 1px solid var(--main-font-color);
}

.config_bar_title {
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;

  & svg {
    width: 30px;
    height: 16px;
    cursor: pointer;
  }
}

.config_bar_descr {
  width: 65%;
  padding-left: 7px;
  text-transform: none;
  letter-spacing: 0.1px;
  font-size: var(--mini-fz);
}
