.double-slider {
  margin: 20px 0;
  width: 90%;

  &:hover {
    & div {
      box-shadow: 0 0 6px var(--main-font-color);
    }
  }
}

.double-slider_rail {
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background: var(--main-font-color);
  cursor: pointer;
}

.double-slider_handle {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  background: var(--radio-btn-color);
  color: var(--main-font-color);

  &:hover {
    box-shadow: 0 0 6px var(--main-font-color);
  }
}

.double-slider_value {
  font-size: 16px;
  color: var(--main-font-color);
}

.double-slider_track {
  position: absolute;
  height: 10px;
  bottom: 1px;
  z-index: 1;
  background: var(--radio-btn-color);
  border-radius: 2px;
  cursor: pointer;
}
