.input_text {
  width: calc(260px + (350 - 260) * ((100vw - 400px) / (1920 - 400)));
  height: 35px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--main-font-color);
  border-bottom: 1px solid #a3a3a385;
  transition: all 0.4s;
  margin: 15px 0;

  &:focus {
    border-bottom: 1px solid #fff;
  }
}

.input_error {
  padding: calc(6px + (12 - 6) * ((100vw - 400px) / (1920 - 400)));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  color: #000000eb;
  width: calc(260px + (350 - 260) * ((100vw - 400px) / (1920 - 400)));
  border: none;
  height: fit-content;
  border-radius: 4px;
  z-index: 0;
  font-size: var(--main-fz);
  position: relative;
  margin: 0 auto;
  transform: translate(0, 0);
  top: 0;
  right: 0;

  @media (--tabletPortrait) {
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #cccccc;
    width: 10px;
    height: 10px;
    z-index: -1;
    transform: translate(-50%, 0) rotateZ(45deg);
    top: -3px;
    left: 50%;
  }
}

.button_primary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: var(--main-fz);
  background-color: #edededbf;
  border: none;
  transition: all 0.4s;
  text-transform: uppercase;
  margin-top: var(--wrapper-padding);
  text-decoration: none;
  color: #000000eb;
  flex-shrink: 0;

  &:hover {
    background-color: #000000;
    border: 1px solid #fff;
    cursor: pointer;
    color: var(--main-font-color);
  }

  @media (--tabletPortrait) {
    height: 30px;
  }
}
