.input_text {
  width: 300px;
  height: 35px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--main-font-color);
  border-bottom: 1px solid #a3a3a385;
  transition: all 0.4s;
  margin: 15px 0;

  &:focus {
    border-bottom: 1px solid #fff;
  }
}

.input_error {
  position: absolute;
  padding: 10px 20px;
  right: -20px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%, -50%);
  background-color: #cccccc;
  color: #000000eb;
  max-width: 300px;
  border: none;
  height: fit-content;
  border-radius: 4px;
  z-index: 0;

  @media (--tabletPortrait) {
    position: relative;
    margin: 0 auto;
    transform: translate(0, 0);
    top: 0;
    right: 0;
    font-size: var(--phone-fz);
    padding: 5px 10px;
  }

  @media (--desktopS) {
    font-size: var(--desktopS-fz);
    padding: 5px 10px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #cccccc;
    width: 10px;
    height: 10px;
    left: -2px;
    transform: rotateZ(45deg);
    z-index: -1;

    @media (--tabletPortrait) {
      transform: translate(-50%, 0) rotateZ(45deg);
      top: -3px;
      left: 50%;
    }
  }
}

.button_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: var(--main-fz);
  background-color: #edededbf;
  border: none;
  transition: all 0.4s;
  text-transform: uppercase;
  margin-top: 20px;
  text-decoration: none;
  color: #000000eb;
  flex-shrink: 0;

  &:hover {
    background-color: #000000;
    border: 1px solid #fff;
    cursor: pointer;
    color: var(--main-font-color);
  }

  @media (--tabletPortrait) {
    width: 70%;
    margin: 20px auto 0;
    height: 30px;
  }
}
