.theme_bar {
  position: absolute;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-font-color);
  z-index: 1;
  user-select: none;
}

.theme_bar_inside {
  padding: 25px 0;
}

.close_bar {
  position: absolute;
  top: 0px;
  left: 5px;
  cursor: pointer;
  font-size: 30px;
}
