/* .button {
  height: 32px;
  width: 80px;
  font-size: var(--main-fz);
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  border-radius: 6px;
  z-index: 1;
  outline: none;
} */
